<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items Page</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <%- include('./partials/header.ejs')%>
    <main>
        <h1 class="page-heading">Car Collection Photos</h1>
        <div class="car-grid">
            <% items.forEach(item => { %>
                <div class="car-container">
                    <a href="/items/<%= item.id %>"><img src="<%= item.image %>" alt="<%= item.title %>"></a>
                    <p class="car-title"><%= item.title %> (<%= item.details %>)</p>
                    <p class="car-condition">Condition: <%= item.condition %></p>
                    <p class="car-price">$<%= item.price %> | <%= item.totalOffers %> offers</p>
                    <p class="car-seller">Seller: <%= item.seller %></p>
                    <p class="car-id">ID: <%= item.id %></p>
                    <p class="car-active">Active: <%= item.active %></p>
                </div>
            <% }) %>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
